<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta</title>
</head>
<body>
    <h1>Tabela de faturamentos</h1>
    <div>
        <table style="border: 1px solid black;">
            <tr>
                <th>
                    <p>Código</p>
                </th>
                <th>
                    <p>Data</p>
                </th>
                <th>
                    <p>Tipo</p>
                </th>
                <th>
                    <p>Quantidade</p>
                </th>
                <th>
                    <p>Preço</p>
                </th>
                <th>
                    <p>Valor bruto</p>
                </th>
                <th>
                    <p>Valor líquido</p>
                </th>
            </tr>
            <% listFaturamentos.forEach((item) => { %>
                <tr>
                    <td><%= item[0] %></td>
                    <td><%= item[1] %></td>
                    <td><%= item[2] %></td>
                    <td><%= item[3] %></td>
                    <td><%= item[4] %></td>
                    <td><%= item[5] %></td>
                    <td><%= item[6] %></td>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>